.wrapper {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}
.wrapper_dropdown {
  background-color: white;
}
.wrapper_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.wrapper_left {
  flex: 0.9;
}
.wrapper_statbox {
  display: flex;
  justify-content: space-between;
}
.wrapper__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.wrapper__information > h3:last-of-type {
  margin-top: 1rem;
}
@media (max-width: 990px) {
  .wrapper {
    flex-direction: column;
  }
}
